<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>SYS_PROPERTY List</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="7%" class="th-hover">PropertyID</th>
                    <th width="7%" class="th-hover">PropertyName</th>
                    <th width="7%" class="th-hover">Remark</th>
                    <th width="7%" class="th-hover">Status</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
