@section Header  {
<style>
    .products .popular-products {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 20px;
        padding: 8px 8px;
    }

        .products .popular-products .product-list {
            border: none;
        }
</style>
    }
<div class="clearfix"></div>
<!-- 今日交易 和 受欢迎的产品 -->
<div class="products">
    <ol class="breadcrumb">
        <li><a href="#">My Office</a></li>
        <li class="active">Tax Invoice</li>
    </ol>
    <div class="popular-products">
        <div class="popular-title">
            <h3>Tax Invoice</h3>
            <h4 style="display: inline-block;margin-left: 30px;">I000157809</h4>
            <div class="pull-right text-right">
                Date:01/05/2017
                <br /> GST No:11-753-604
            </div>
        </div>
        <div class="row" style="margin:20px 0 60px 0;padding-top: 10px;border-top: 1px solid #cdcdcd">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <table>
                    <tr>
                        <td style="width: 100px;color: #6787af">Bill To:</td>
                        <td style="color: #676767">
                            LSG Sky Chefs
                            <br /> 1 Laurence Stevens Drive
                            <br /> Mangere
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <table>
                    <tr>
                        <td style="width: 100px;color: #6787af">Bill To:</td>
                        <td style="color: #676767">
                            LSG Sky Chefs
                            <br /> 1 Laurence Stevens Drive
                            <br /> Mangere
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="list" class="product-list" style="min-height: 150px;height: auto;">
            <form action="">
                <table class="table table-striped">
                    <tr style="color: #cd0824;">
                        <th style="width: 20%">Debtor ID</th>
                        <th style="width: 15%">Purchase Order No.</th>
                        <th style="width: 15%">Date</th>
                        <th style="width: 15%">Packing Slip</th>
                        <th style="width: 15%">Salesperson ID</th>
                        <th style="width: 10%">Master No</th>
                    </tr>
                    <tr style="color: #8B8770;font-size: 12px;">
                        <td>CATENZ</td>
                        <td>4500846025</td>
                        <td>01/05/2017</td>
                        <td>OAA2044667</td>
                        <td>GP</td>
                        <td>20177497</td>
                    </tr>
                </table>
                <hr />
                <table class="table table-striped">
                    <tr style="color: #cd0824;">
                        <th style="width: 20%">Item Number</th>
                        <th style="width: 30%">Description</th>
                        <th style="width: 10%">Ordered</th>
                        <th style="width: 10%">Shipped</th>
                        <th style="width: 10%">Unit Price</th>
                        <th style="width: 10%">Unit</th>
                        <th style="width: 10%">Ext.Price</th>
                    </tr>
                    <tr style="color: #8B8770;font-size: 12px;">
                        <td>8830056</td>
                        <td>MENS TAPED STORM PANTS NAVY ZJ352 SZ XL</td>
                        <td>4.00</td>
                        <td>4.00</td>
                        <td>$29.95</td>
                        <td>PAIR</td>
                        <td>$119.80</td>
                    </tr>
                </table>
                <hr />
                <table class="table pull-right text-right" style="width: 280px;background-color: #f6f6f6;border:none;color: #676767;font-size: 12px;">
                    <tr>
                        <td>Sub Total:</td>
                        <td>$119.80</td>
                    </tr>
                    <tr>
                        <td>Misc:</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>Freight,Handling & Insurance:</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td>$17.80</td>
                    </tr>
                    <tr style="color: #cd0824;font-weight: bold;">
                        <td>TOTAL:</td>
                        <td>$137.77</td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
