<div class="footer">
    <!-- sitemap-->
    <div class="sitemap">
        <div class="information sitemap-box pull-left">
            <h5>INFORMATION</h5>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="services sitemap-box pull-left">
            <h5>SERVICES</h5>
            <ul>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Track your order</a></li>
                <li><a href="#">View Order</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="account sitemap-box pull-left">
            <h5>ACCOUNT</h5>
            <ul>
                <li><a href="#">My account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>
        </div>
        <div class="about-us sitemap-box pull-left">
            <h5>ABOUT US</h5>
            <p>Aenean sollicitudin,lorem quis biendum auctor,nisi elit consequat ipsum,necittis sem nibh id elit.Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.Morbi accumsan ipsum velit.Nam nec tellus a odio tincidunt auctor</p>
        </div>
        <div class="main-office pull-left">
            <p class="title">MAIN OFFICE</p>
            <p class="address">PO Box 16122 Collins Street West Victoria 8007 Australia</p>
            <p class="phone">+844 123 456 78 / +844 123 456 79</p>
            <p class="email">contac@yourcompany.com</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- payments-->
    <div class="payments">
        <div class="payments-left pull-left">
            @*<ul class="payments-left-ul">
                <li><span>PAYMENTS</span></li>
                <li><img src="/Content/snell/images/card-1.jpg"></li>
                <li><img src="/Content/snell/images/card-2.jpg"></li>
                <li><img src="/Content/snell/images/card-3.jpg"></li>
                <li><img src="/Content/snell/images/card-4.jpg"></li>
                <li><img src="/Content/snell/images/card-5.jpg"></li>
                <li><img src="/Content/snell/images/card-6.jpg"></li>
                <li><img src="/Content/snell/images/card-7.jpg"></li>
                <li><img src="/Content/snell/images/card-8.jpg"></li>
                <li><img src="/Content/snell/images/card-9.jpg"></li>
            </ul>*@
        </div>
        <div class="payments-right pull-right">
            <ul class="payments-right-ul">
                <li><img src="/Content/snell/images/owned.jpg"></li>
                <li><span>New Zealand Owned</span></li>
            </ul>
        </div>
    </div>
    <!-- copyright-->
    <div class="copyright">
        <p>Copyright 2015 - Web Design by Quentosity - All Rights Reserved.</p>
    </div>
</div>
