@using Ecomm.Site.Models.Authen.Admin_user
@model LoginModel

@Styles.Render("~/bundles/login")

<div id="login-modal-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="login-form" action="@Url.Action("CheckLogin", "Home")" method="post" role="form" style="display: block;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Log in the site</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control", @placeholder = "Username", @tabindex="1" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.LoginPwd, new { @class = "form-control", @placeholder = "Password", @tabindex = "2" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-main-login" tabindex="3" >Log In</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="4" >Close</button>
                </div>
            </form>
        </div>
    </div>
</div>