<div class="nav-bar">
    <div class="all-category">
        <a href="javascript:;" class="show-menu">ALL CATEGORY<i class="fa fa-angle-right"></i></a>
        <!-- 二级导航 -->
        <div style="display:none;" class="dd">
            <div class="dd-inner">
                <div class="item" data-menu="Cleaning-Supplies">
                    <a href=""><i class="fa fa-phone-square"></i>Cleaning Supplies</a>
                </div>
                <div class="item" data-menu="Security-and-Bunding">
                    <a href=""><i class="fa fa-cloud"></i>Security and Bunding<span class="label label-info">New</span></a>
                </div>
                <div class="item" data-menu="Paper-Products">
                    <a href=""><i class="fa fa-child"></i>Paper Products<span class="label label-danger">Hot</span></a>
                </div>
                <div class="item" data-menu="Stationery">
                    <a href=""><i class="fa fa-coffee"></i>Stationery</a>
                </div>
                <div class="item" data-menu="Board-Products">
                    <a href=""><i class="fa fa-lock"></i>Board Products</a>
                </div>
                <div class="item" data-menu="Tapes-and-Adhesives">
                    <a href=""><i class="fa fa-user"></i>Tapes and Adhesives</a>
                </div>
                <div class="item" data-menu="Machinery">
                    <a href=""><i class="fa fa-wifi"></i>Machinery</a>
                </div>
            </div>
            <!-- 子分类 -->
            <div style="display:none" class="dorpdown-layer" id="index_menus_sub">
                <div class="item-sub">
                    <ul>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>

                    </ul>
                </div>
                <div class="item-sub">
                    <ul>
                        <li><a href="##">Security and Bunding</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                    </ul>
                </div>
                <div class="item-sub">
                    <ul>
                        <li><a href="##">Paper Products</a></li>
                        <li><a href="##">Paper Products</a></li>
                        <li><a href="##">Paper Products</a></li>
                    </ul>
                </div>
                <div class="item-sub">
                    <ul>
                        <li><a href="##">Security and Bunding</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                        <li><a href="##">Cleaning Supplies</a></li>
                    </ul>
                </div>
                <div class="item-sub">
                    <ul>
                        <li><a href="##">Security and Bunding</a></li>
                        <li><a href="##">Stationery</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="nav">
        <ul class="navitems">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOME<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                    <ul>
                        <li><a href="##">HOME</a></li>
                        <li><a href="##">PACKAGING</a></li>
                        <li><a href="##">SAFETY</a></li>
                        <li><a href="##">SPECIALS</a></li>
                        <li><a href="##">HOME</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">PACKAGING<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                    <ul>
                        <li><a href="##">HOME</a></li>
                        <li><a href="##">PACKAGING</a></li>
                        <li><a href="##">SAFETY</a></li>
                        <li><a href="##">SPECIALS</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SAFETY<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                    <ul>
                        <li><a href="##">HOME</a></li>
                        <li><a href="##">PACKAGING</a></li>
                        <li><a href="##">SAFETY</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPECIALS<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu nav-box" role="menu" aria-labelledby="dLabel">
                    <ul>
                        <li><a href="##">HOME</a></li>
                        <li><a href="##">PACKAGING</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="#">ABOUT US</a></li>
            <li>
                <a href="#">ON SALE</a>
                <!-- 提示工具 -->
                <div class="tooltip fade top in" role="tooltip" id="onsale-tip">
                    <div class="tooltip-arrow" style="left: 50%;"></div>
                    <div class="tooltip-inner">Hot</div>
                </div>
            </li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </div>

</div>
