
<div class="support">
    <div class="support-phone">
        <div class="pull-left phone-icon">
            <i class="fa fa-phone-square"></i>
        </div>
        <div class="pull-left">
            <span class="line-1">CALL FOR SUPPORT</span>
            <br>
            <span class="line-2">0800 763 557</span>
        </div>
    </div>
    <div class="search">
        <form action="" method="get" class="form-inline" role="form">
            <div class="form-group" style="width:31%">
                <select class="form-control">
                    <option value="">Select a category</option>
                </select>
            </div>
            <div class="form-group" style="margin-left:-5px;width:61%">
                <input class="form-control search-text" value="" placeholder="What do you need..." />
            </div>
            <div class="form-group has-feedback" style="margin-left:-5px;width:8%">
                <input class="form-control search-btn" type="submit" value="" />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
</div>
