@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 500</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <p>
            @ViewBag.Msg
        </p>
        @if (Model != null)
        {
            var ex = (System.Exception)Model.Exception;
            <p>Controller: @Model.ControllerName</p>
            <p>Action: @Model.ActionName</p>
            <p>ErrorMessage: @ex.Message</p>
        }
    </hgroup>
    <img src="~/Content/images/error.jpg" alt="Cat" />
</body>
</html>