<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>SYS_CONFIG List</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="7%" class="th-hover">ID</th>
                    <th width="15%" class="th-hover">ConfigName</th>
                    <th width="15%" class="th-hover">ConfigContent</th>
                    <th width="10%" class="th-hover">FieldProperty</th>
                    <th width="7%" class="th-hover">IsSystem</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
