<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Admin_user List</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="7%" class="th-hover">Id</th>
                    <th width="7%" class="th-hover">Name</th>
                    <th width="7%" class="th-hover">Userid</th>
                    <th width="7%" class="th-hover">Passid</th>
                    <th width="7%" class="th-hover">Usertype</th>
                    <th width="7%" class="th-hover">Fname</th>
                    <th width="7%" class="th-hover">Lname</th>
                    <th width="7%" class="th-hover">Mname</th>
                    <th width="7%" class="th-hover">Gender</th>
                    <th width="7%" class="th-hover">Title</th>
                    <th width="7%" class="th-hover">Email</th>
                    <th width="7%" class="th-hover">Description</th>
                    <th width="7%" class="th-hover">Status</th>
                    <th width="7%" class="th-hover">Sessionid</th>
                    <th width="7%" class="th-hover">Ip</th>
                    <th width="7%" class="th-hover">Lastdate</th>
                    <th width="7%" class="th-hover">Cretuser</th>
                    <th width="7%" class="th-hover">Cretdate</th>
                    <th width="7%" class="th-hover">Modidate</th>
                    <th width="7%" class="th-hover">Modiuser</th>
                    <th width="7%" class="th-hover">Row_id</th>
                    <th width="7%" class="th-hover">Phoneid</th>
                    <th width="7%" class="th-hover">Temp01</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
