<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>INFOR_MASTER List</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="15%" class="th-hover">Subject</th>
                    <th width="15%" class="th-hover">Category</th>


                    <th width="7%" class="th-hover">DisplayOrder</th>
                    <th width="7%" class="th-hover">Status</th>

                    <th width="7%" class="th-hover">IsOuterLink</th>
                    <th width="7%" class="th-hover">ActiveLink</th>

                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
