<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>PROD_PHOTO List</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="7%" class="th-hover">ID</th>
                    <th width="7%" class="th-hover">PhotoTitle</th>
                    <th width="7%" class="th-hover">FilePath</th>
                    <th width="7%" class="th-hover">IsDefault</th>
                    <th width="7%" class="th-hover">PhotoType</th>
                    <th width="7%" class="th-hover">EntityID</th>
                    <th width="7%" class="th-hover">SmallPic</th>
                    <th width="7%" class="th-hover">BigPic</th>
                    <th width="7%" class="th-hover">MiddlePic</th>
                    <th width="7%" class="th-hover">CreateDate</th>
                    <th width="7%" class="th-hover">ModiDate</th>
                    <th width="7%" class="th-hover">Creator</th>
                    <th width="7%" class="th-hover">Modifier</th>
                    <th width="7%" class="th-hover">DisplayOrder</th>
                    <th width="7%" class="th-hover">Status</th>
                    <th width="7%" class="th-hover">Item01</th>
                    <th width="7%" class="th-hover">Item02</th>
                    <th width="7%" class="th-hover">Item03</th>
                    <th width="7%" class="th-hover">Item04</th>
                    <th width="7%" class="th-hover">Item05</th>
                    <th width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
