<div id="content-body" class="row-fluid">
    <div class="span22">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>PROD_CATEGORIES List</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th width="5%">No</th>
                            <th width="10%" class="th-hover">ProductNo</th>
                            <th width="10%" class="th-hover">ProductName</th>
                            <th width="7%" class="th-hover">ProductType</th>
                            <th width="7%" class="th-hover">StndCost</th>
                            <th width="7%" class="th-hover">BaseUOFM</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

